In [1]:
#!pip install pyspark
!pip install pyspark==3.1.3

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark==3.1.3 in c:\users\localadmin\appdata\roaming\python\python38\site-packages (3.1.3)
Requirement already satisfied: py4j==0.10.9 in c:\users\localadmin\appdata\roaming\python\python38\site-packages (from pyspark==3.1.3) (0.10.9)

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master("local").appName("demo1").getOrCreate()

In [4]:
spark

In [8]:
# pyspark_df = spark.read.csv('supermarket_sales.csv')
pyspark_df = spark.read.csv('supermarket_sales.csv', header = True)

In [9]:
pyspark_df

DataFrame[Invoice ID: string, Branch: string, City: string, Customer type: string, Gender: string, Product line: string, Unit price: string, Quantity: string, Tax 5%: string, Total: string, Date: string, Time: string, Payment: string, cogs: string, gross margin percentage: string, gross income: string, Rating: string]

In [10]:
pyspark_df.show(11,False)

+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|Invoice ID |Branch|City     |Customer type|Gender|Product line          |Unit price|Quantity|Tax 5% |Total   |Date     |Time |Payment    |cogs  |gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|A     |Yangon   |Member       |Female|Health and beauty     |74.69     |7       |26.1415|548.9715|1/5/2019 |13:08|Ewallet    |522.83|4.761904762            |26.1415     |9.1   |
|226-31-3081|C     |Naypyitaw|Normal       |Female|Electronic accessories|15.28     |5       |3.82   |80.22   |3/8/2019 |10:29|Cash       |76.4  |4.761904762            |3.82        |9.6   |
|631-41-3108|A     |Yangon   |Normal       |Male  |Home and lifestyle    |46.33     |7       |16.2155|340.5255|3/3/2019 |13:23|Credit card|324.31|4.761904762            |16.2155     |7.4   |
|123-19-1176|A     |Yangon   |Member       |Male  |Health and beauty     |58.22     |8       |23.288 |489.048 |1/27/2019|20:33|Ewallet    |465.76|4.761904762            |23.288      |8.4   |
|373-73-7910|A     |Yangon   |Normal       |Male  |Sports and travel     |86.31     |7       |30.2085|634.3785|2/8/2019 |10:37|Ewallet    |604.17|4.761904762            |30.2085     |5.3   |
|699-14-3026|C     |Naypyitaw|Normal       |Male  |Electronic accessories|85.39     |7       |29.8865|627.6165|3/25/2019|18:30|Ewallet    |597.73|4.761904762            |29.8865     |4.1   |
|355-53-5943|A     |Yangon   |Member       |Female|Electronic accessories|68.84     |6       |20.652 |433.692 |2/25/2019|14:36|Ewallet    |413.04|4.761904762            |20.652      |5.8   |
|315-22-5665|C     |Naypyitaw|Normal       |Female|Home and lifestyle    |73.56     |10      |36.78  |772.38  |2/24/2019|11:38|Ewallet    |735.6 |4.761904762            |36.78       |8     |
|665-32-9167|A     |Yangon   |Member       |Female|Health and beauty     |36.26     |2       |3.626  |76.146  |1/10/2019|17:15|Credit card|72.52 |4.761904762            |3.626       |7.2   |
|692-92-5582|B     |Mandalay |Member       |Female|Food and beverages    |54.84     |3       |8.226  |172.746 |2/20/2019|13:27|Credit card|164.52|4.761904762            |8.226       |5.9   |
|351-62-0822|B     |Mandalay |Member       |Female|Fashion accessories   |14.48     |4       |2.896  |60.816  |2/6/2019 |18:07|Ewallet    |57.92 |4.761904762            |2.896       |4.5   |
+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 11 rows

In [12]:
pyspark_df.printSchema()

root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Tax 5%: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: string (nullable = true)
 |-- gross margin percentage: string (nullable = true)
 |-- gross income: string (nullable = true)
 |-- Rating: string (nullable = true)

In [14]:
pyspark_df = spark.read.csv('supermarket_sales.csv', header = True, inferSchema=True)

In [15]:
pyspark_df.printSchema()

root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Tax 5%: double (nullable = true)
 |-- Total: double (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: double (nullable = true)
 |-- gross margin percentage: double (nullable = true)
 |-- gross income: double (nullable = true)
 |-- Rating: double (nullable = true)

In [16]:
from pyspark.sql.types import *

In [17]:
cust_Schema = StructType(
    [StructField("Invoice ID", StringType(), False),
     StructField("City", StringType(), True),
     StructField("Customer true", StringType(), False),
     StructField("Gender", StringType(), False),
     StructField("Product line", StringType(), False),
     StructField("Unit price", StringType(), False),
     StructField("Quantitye", StringType(), False),
     StructField("Tax 5%", StringType(), False),
     StructField("Total", StringType(), False),
     StructField("Date", StringType(), False),
     StructField("Time", StringType(), False),
     StructField("Payment", StringType(), False),
     StructField("cogs", StringType(), False),
     StructField("gross margin percentage", StringType(), False),
     StructField("gross income", StringType(), False),
     StructField("Rating", StringType(), False),]
    )

In [20]:
DF1 = spark.read.csv('supermarket_sales1.csv',)

In [22]:
DF1.show(5, False)  # False is to show the whole column description

+-----------+---+---------+------+------+----------------------+-----+---+-------+--------+---------+-----+-----------+------+-----------+-------+----+
|_c0        |_c1|_c2      |_c3   |_c4   |_c5                   |_c6  |_c7|_c8    |_c9     |_c10     |_c11 |_c12       |_c13  |_c14       |_c15   |_c16|
+-----------+---+---------+------+------+----------------------+-----+---+-------+--------+---------+-----+-----------+------+-----------+-------+----+
|750-67-8428|A  |Yangon   |Member|Female|Health and beauty     |74.69|7  |26.1415|548.9715|1/5/2019 |13:08|Ewallet    |522.83|4.761904762|26.1415|9.1 |
|226-31-3081|C  |Naypyitaw|Normal|Female|Electronic accessories|15.28|5  |3.82   |80.22   |3/8/2019 |10:29|Cash       |76.4  |4.761904762|3.82   |9.6 |
|631-41-3108|A  |Yangon   |Normal|Male  |Home and lifestyle    |46.33|7  |16.2155|340.5255|3/3/2019 |13:23|Credit card|324.31|4.761904762|16.2155|7.4 |
|123-19-1176|A  |Yangon   |Member|Male  |Health and beauty     |58.22|8  |23.288 |489.048 |1/27/2019|20:33|Ewallet    |465.76|4.761904762|23.288 |8.4 |
|373-73-7910|A  |Yangon   |Normal|Male  |Sports and travel     |86.31|7  |30.2085|634.3785|2/8/2019 |10:37|Ewallet    |604.17|4.761904762|30.2085|5.3 |
+-----------+---+---------+------+------+----------------------+-----+---+-------+--------+---------+-----+-----------+------+-----------+-------+----+
only showing top 5 rows

In [24]:
DF1 = spark.read.csv('supermarket_sales1.csv', schema=cust_Schema)

In [25]:
DF1.show(5, False)

+-----------+----+-------------+------+------------+----------------------+---------+------+-------+--------+---------+-------+-----------+-----------------------+------------+-------+
|Invoice ID |City|Customer true|Gender|Product line|Unit price            |Quantitye|Tax 5%|Total  |Date    |Time     |Payment|cogs       |gross margin percentage|gross income|Rating |
+-----------+----+-------------+------+------------+----------------------+---------+------+-------+--------+---------+-------+-----------+-----------------------+------------+-------+
|750-67-8428|A   |Yangon       |Member|Female      |Health and beauty     |74.69    |7     |26.1415|548.9715|1/5/2019 |13:08  |Ewallet    |522.83                 |4.761904762 |26.1415|
|226-31-3081|C   |Naypyitaw    |Normal|Female      |Electronic accessories|15.28    |5     |3.82   |80.22   |3/8/2019 |10:29  |Cash       |76.4                   |4.761904762 |3.82   |
|631-41-3108|A   |Yangon       |Normal|Male        |Home and lifestyle    |46.33    |7     |16.2155|340.5255|3/3/2019 |13:23  |Credit card|324.31                 |4.761904762 |16.2155|
|123-19-1176|A   |Yangon       |Member|Male        |Health and beauty     |58.22    |8     |23.288 |489.048 |1/27/2019|20:33  |Ewallet    |465.76                 |4.761904762 |23.288 |
|373-73-7910|A   |Yangon       |Normal|Male        |Sports and travel     |86.31    |7     |30.2085|634.3785|2/8/2019 |10:37  |Ewallet    |604.17                 |4.761904762 |30.2085|
+-----------+----+-------------+------+------------+----------------------+---------+------+-------+--------+---------+-------+-----------+-----------------------+------------+-------+
only showing top 5 rows

In [27]:
DF1.printSchema()

root
 |-- Invoice ID: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer true: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: string (nullable = true)
 |-- Quantitye: string (nullable = true)
 |-- Tax 5%: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: string (nullable = true)
 |-- gross margin percentage: string (nullable = true)
 |-- gross income: string (nullable = true)
 |-- Rating: string (nullable = true)

In [28]:
DF1.count()

1000

In [31]:
DF1.write.format('csv').mode('Overwrite').option('maxRecordsPerFile', 500).option('path', 'output').save()

In [32]:
pwd

'D:\\Personal_projects\\pyspark_project'